@import '../Variables'

.budget-container
	display: none

@media (min-width: $break-medium)
	.budget-container
		display: none

@media (min-width: $break-large)
	.budget-container
		display: inherit
		width: 400px
	.budget
		width: 100%
		background: linear-gradient(180deg, rgba(87,134,255,1) 80%, rgba(255,255,255,1) 100%)
		padding: 1.5rem 1rem
		border-radius: .5rem
		border: none
		cursor: pointer
		color: $secondary-font-color
		font-size: 1rem
		font-weight: 600
		line-height: 1.25rem
