@import '../Variables'

.budget-button-container
	display: inherit
	width: 200px
	.budget-button
		width: 100%
		background-color: $secondary2-color
		padding: 16px 39px
		border-radius: .5rem
		border: none
		cursor: pointer
		color: $secondary-font-color
		font-size: 16px
		font-weight: 600
		line-height: 20px

@media (min-width: $break-medium)
	.budget-button-container
		width: 302px

@media (min-width: $break-large)
	.budget-button-container
		display: inherit
		width: 400px
