.clientsTitle
    display:grid
    grid-area: title
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    padding: 5rem 2rem
    h2
        margin: 0
        padding: 1rem 0
    p
        margin: 0
        padding: 2rem 0