@import '../Variables'

.gallery
    display: grid
    justify-items: center
    grid-area: clients
    grid-template-columns: repeat(2,minmax(150px, 1fr))
    grid-template-rows: 1fr
    grid-auto-flow: dense
    grid-gap: .5rem
    .grid
        background: linear-gradient(to bottom, #ABC3FF99 60%, $primary-color)
        border-radius: 15px
        width: 100%
        height: auto
        display: flex
        justify-content: center
        align-items: center
        img
            width: 50%
            height: 50%
            object-fit: contain
    .hor-size
        grid-colcolumn: span 1
    .big-size
        grid-column: span 1
        grid-row: span 1


@media (min-width: $break-small)
    .gallery
        grid-template-columns: repeat(2,minmax(40%, 1fr))
        .grid
            width: 100%
        .hor-size
            grid-column: span 1
        .big-size
            grid-column: span 1
            grid-row: span 1


@media (min-width: $break-medium)
    .gallery
        grid-template-columns: repeat(auto-fit,minmax(min(100px,100%), 1fr))
        grid-template-rows: repeat(2,minmax(200px, 1fr))
        .grid
            width: 100%
        .hor-size
            grid-column: span 2
        .big-size
            grid-column: span 2
            grid-row: span 1

@media (min-width: $break-large)
    .gallery
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr))
        grid-template-rows: repeat(auto-fit,minmax(100px, 1fr))
        .grid
            width: 100%
        .hor-size
            grid-column: span 2
        .big-size
            grid-column: span 2
            grid-row: span 2