@import '../Variables'

.brand-logo
  background-image: url('../assets/Images/Logos/GlobalIncLogo.png')
  background-repeat: no-repeat, repeat
  background-size: contain
  height: 1rem
  width: 9.25rem
  cursor: pointer

@media (min-width: $break-medium)
  .brand-logo
    height: 20px
    width: 11.875rem

.footerlogo
  background-image: url('../assets/Images/Logos/FooterLogoDesktop.png')
  background-repeat: no-repeat, repeat
  background-size: contain
  height: 210px
  width: 184px
  cursor: pointer
  justify-self: center
  align-self: center

@media (min-width: $break-medium)
  .footerlogo
    padding-bottom: 109px

@media (min-width: $break-large)
  .footerlogo
    padding-bottom: 0

.socials
  display: flex
  justify-content: center
  gap: 1.5rem
  padding-top: 1.5rem
  :nth-child(-n+2)
    display: inline !important
    height: 2rem
    width: 2rem
    cursor: pointer
    background-repeat: no-repeat, repeat
    background-size: contain
  .linkedin
    background-image: url('../assets/Icons/Socials/Linkedin.png')
  .instagram
    background-image: url('../assets/Icons/Socials/Instagram.png')
