@import '../Variables'

.brandlogo
    width: 10rem
    height: 3rem
    padding-left: 1rem

@media (min-width: $break-small)
  .brandlogo
    width: 17rem
    height: 4rem
    padding-left: 3rem

@media (min-width: $break-medium)
  .brandlogo
    width: 17rem
    height: 4rem
    padding-left: 6rem
