@import '../Variables'

.mobile-menu
  width: 80%
  display: flex
  flex-direction: column
  position: fixed
  left: 50%
  top: 8rem
  transform: translate(-50%, 0)
  text-align: center
  font-size: 1rem

  .list
    border-bottom: solid .125rem $primary2-color
    padding: .5rem 0

.mobile-menu-button
  display: block
  height: 1.5rem
  width: 2rem

.desktop-menu
  display: none

@media (min-width: $break-medium)
  .mobile-menu
    top: $header-tablet-height

@media (min-width: $break-large)
  .mobile-menu-button
    display: none

  .desktop-menu
    display: flex
    flex-direction: row
    align-items: center
    list-style-type: none
    font-size: 1rem
    font-weight: 600
    line-height: 1.25rem
    gap: 5.625vw

  a
    display: inline-block
