.services-header
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  h2
    font-weight: 400
    line-height: 2.6563rem

.services-paragraph
  width: 817px
  height: 40px

  p
    text-align: center
    font-size: 1rem
    font-weight:  400
    line-height: 1.25rem
