@import '../Variables'

.us-list
  display: flex
  justify-content: space-around
  .us-card-container
    display: flex
    flex-direction: column
    width: 12rem
    align-items: center
    h1
      font-family: $secondary-font-family
      font-size: 14px
      font-weight: 600
      line-height: 17.5px
      margin: 0
      padding-bottom: 4px
    p
      font-size: 14px
      font-weight: 400
      line-height: 17.5px
      margin: 0
      text-align: center
    .us-image
      padding-bottom: 8px
      width: 120px
      height: 120px

@media (min-width: $break-medium)
  .us-list
    justify-content: space-between
    .us-card-container
      width: 25rem
      h1
        font-size: 16px
        line-height: 20px
        padding-bottom: 8px
      p
        font-size: 16px
        line-height: 20px
      .us-image
        padding-bottom: 20px

@media (min-width: $break-large)
  .us-list
    justify-content: space-around
