// Main Variables

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600;700&family=Krona+One&display=swap')

$primary-color: #F5F5F5
$primary2-color: #ABC3FF
$secondary-color: #2B437F
$secondary2-color: #252525
$terciary-color: #5786FF

$primary-background: #F5F5F5
$secondary-background: #252525

$font-color: #252525
$secondary-font-color: #F5F5F5

$primary-distance: 5rem

$font-family: 'Krona One', sans-serif
$secondary-font-family: 'Bai Jamjuree', sans-serif

$header-font-color: $font-color
$header-secondary-font-color: $secondary-font-color
$header-background: $primary-background
$header-secondary-background: $secondary-background

$footer-font-color: $secondary-font-color
$footer-background: $secondary-background

$header-max-width: 100%
$header-mobile-height: 4rem
$header-tablet-height: 5rem
$header-desktop-height: 6.625rem

$break-small: 30rem
$break-medium: 62rem
$break-large: 90rem

$max-width-small: 36rem
$max-width-medium: 62rem
$max-width-large: 90rem


// Utilities
.text-center
	text-align: center


// Global
a
	text-decoration: none
	color: $header-font-color

h1, h2, h3, h4, h5, h6
	font-family: $font-family

body
	font-family: $secondary-font-family

svg
	margin: 0
